@model MVC_ASSIGNMENT_5.Models.Student

<h2>Create Student</h2>

<form type = "table" asp-action="Create" method="post">
    Name: <input asp-for="Name" /><br />
    Age: <input asp-for="Age" /><br />
    Email: <input asp-for="Email" /><br />

    <button type="submit">Save</button>
</form>