@model MVC_ASSIGNMENT_3.Models.User

<form asp-action="Edit" method="post">
    <input asp-for="Name" />

    <input asp-for="Password" type="password" />

    <button type="submit">Update</button>
</form>